@model IEnumerable<QLBH_project.Models.productdetails>

@{
    ViewData["Title"] = "Index";
    var thongbao = ViewData["result"] as string;
    var amount = ViewData["amount"] as string;

}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a><br />
    <a asp-action="SearchByName">Tìm kiếm</a>
</p>
<form method="get" asp-controller="productdetails" asp-action="SearchByName">
    <input name="name" type="text" placeholder="Search"/>
    <button type="submit">Tìm Kiếm</button><br />
</form>
<form method="get" asp-controller="productdetails" asp-action="SearchByPrice">
    <input name="gia1" type="text" placeholder="Nhap khoang gia 1"/>
    <input name="gia2" type="text" placeholder="Nhap khoang gia 2"/>
    <button type="submit">Tìm Kiếm Theo Giá</button><br />
</form>
@if (thongbao!= null)
{
    <a>@thongbao</a>
}
@if(Model!= null){
    <table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OriginalPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Stock)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateCreated)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LinkImage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.products)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.categories)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OriginalPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Stock)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateCreated)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LinkImage)
            </td>
            <td>
                @(item.Status ? "Mở bán" : "Không mở bán")
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.products.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.categories.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

}
@if(amount!=null){
    <h3>@amount</h3>
}